Django==1.5.2
PIL==1.1.7
Pygments==1.6
South==0.8.2
amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.32
boto==2.12.0
bpython==0.12
celery==3.0.23
celery-with-redis==3.0
dj-static==0.0.5
django-boto==0.2.1
django-celery==3.0.23
django-mockups==0.4.8
django-redis-cache==0.10.0
django-storages==1.1.8
djangorestframework==2.3.7
gunicorn==18.0
hiredis==0.1.1
kombu==2.5.14
python-dateutil==2.1
pytz==2013d
redis==2.8.0
six==1.4.1
static==0.4
wsgiref==0.1.2
psycopg2==2.5



dj-database-url==0.2.1
static==0.4