<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Bienvenidos{% endblock %}</title>
		
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.css">
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
	<style type="text/css">
		body{
			padding-top: 60px;
			padding-bottom: 40px; 
		}
		.sidebar-nav{
			padding: 9px 0;
		}
	</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brand" href="/">Agenda 2.0</a>
		{% if user.is_authenticated %}
				<p class="navbar-text pull-right">
					Usuario {{user.username}}
				</p>
		{% endif %}
		<ul class="nav">
			<li><a href="/tareas">Tareas</a></li>
			<li><a href="/addtarea">Agregar Tareas</a></li>
			{% if user.is_authenticated %}
			<li><a href="#">Cerrar Sesion</a></li>
			{% else %}
			<li><a href="#">Login</a></li>
			{% endif %}
		</ul>
	</div> <!--/inner-->
</div><!--/navbar-->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div class="hero-unit">
					{% block content %}
					{% endblock %}
			</div>
		</div>
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Ultimas Tareas</li>
					<br>
					<p align="justify">
					Proximas Tareas
					</p>
				</ul>
			</div><!--/well-->
		</div><!--/span3-->
				<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Ultimas Tareas</li>
					<br>
					<p align="justify">
					Proximas Tareas
					</p>
				</ul>
			</div><!--/well-->
		</div><!--/span3-->
	</div>
</div>


</body>




</html>
