<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Bienvenidos{% endblock %}</title>
		
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.css">
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
	<style type="text/css">
		body{
			padding-top: 60px;
			padding-bottom: 40px; 
		}
		.sidebar-nav{
			padding: 9px 0;
		}
	</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{% url "home" %}">Mi Simple Agenda</a>
          <div class="nav-collapse collapse">
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right">
              Usuario: <a href="#" class="navbar-link">{{user.username}}</a>
            </p>
            {% else %}
            	<p class="navbar-text pull-right">
              Usuario: <a href="#" class="navbar-link">Anonimo</a>
            </p>
            {% endif %}
          	<ul class="nav">
			<li><a href="{% url "tareas" %}">Tareas</a></li>
			<li><a href="{% url "addtarea" %}">Agregar Tareas</a></li>
			{% if user.is_authenticated %}
			<li><a href="/cerrar">Cerrar Sesion</a></li>
			{% else %}
			<li><a href="/ingresar">Ingresar</a></li>
			{% endif %}
		</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


</div><!--/navbar-->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div class="hero-unit">
					{% block content %}
					{% endblock %}
			</div>
		</div>
		<div class="span3">
			<div class="well sidebar-nav">
			<ul class="nav nav-list">
					<li class="nav-header">Tareas Para Hoy</li>
					<br>
					<p align="justify">
					<ul class="nav nav-pills nav-stacked">
					{% for t in hoy %}
						<li><h4>{{t.nombre}}</h4></li>					
					{% endfor %}
					</ul>
			</div><!--/well-->
		</div><!--/span3-->
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Proximas Tareas</li>
					<br>
					<p align="justify">
					<ul class="nav nav-pills nav-stacked">
					{% for t in ultimas %}
						<li><h4>{{t.nombre}}</h4></li>					
					{% endfor %}
					</ul>
					</p>
				</ul>
			</div><!--/well-->
		</div><!--/span3-->
	</div>
</div>
<div id="footer">
      <div class="container">
        <p class="muted credit">Proyecto Libre Desarrollado Por <a target="black" href="https://twitter.com/emimartin26">Emiliano Martin</a>.</p>
      </div>
    </div>
</body>




</html>
